<%- include("./partials/header")%>


<nav class="navbar navbar-light bg-light">
    
      <a class="navbar-brand" href="/">Todo App</a>
    
  </nav>
  <div class="container mt-5">
      <form action="/add/todofile" method="POST" class="d-flex">

        <input type="text" name="todofile" class="form-control" placeholder="Enter todo">
        <input type="submit" value="Add todo" class="btn btn-md btn-primary mx-2">
        </form>
        <ul class="list-group my-5">
            <% todofile.forEach(todos => { %>
            <li class="list-group-item"><%= todos.todofile %> <a href="/delete/todofile/<%= todos._id %>"
                    class="btn btn-danger btn-sm">Delete</a></li>
            <% }) %>
    
        </ul>
    </div>
    
    
    
    
    
    <%- include("./partials/footer")  %>
